<%= bootstrap_form_for @reservation, html: { id: "createReservationForm", method: :post }, remote: true do |f| %>
  <div id="error_div"></div>
  <%= f.datetime_select :start_time, ampm: true, discard_minute: true, :minute_step => 60, label_class: "required", help: "Must be a time in the future." %>
  <%= f.select :party_size, (1..6).map { |i| [i,i] }, label_class: "required" %>
  <%= f.text_field :name, label_class: "required", required: true %>
  <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
  <%= f.submit 'Create Reservation', id: "formSubmit" %>
<% end %>
